{% extends "main/gen_templ.html" %}

{% block content %}
    <div class="container">
        <div class="col-lg-10 offset-lg-1">
            <h2>Регистрация университетской субботы</h2>
                {% if success_message and not error_message %}
                    <h3 class="success-message">{{ success_message }}</h3>
                {% elif error_message %}
                    <h3 class="error-message">{{ error_message }}</h3>
                {% endif %}
            <form enctype="application/x-www-form-urlencoded" action="/management/register_saturday" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <select class="custom-select form-control" name="university">
                            <option value="0">ВУЗ</option>
                            {% for university in universities %}
                                <option {% if university_id == university.id %} selected {% endif %}
                                                                                  value="{{ university.id }}">{{ university.name }}
                                </option>
                            {% endfor %}
                        </select>
                        <select class="custom-select form-control" name="subject">
                            <option value="0">Предмет</option>
                            {% for subject in subjects %}
                                <option {% if subject_id == subject.id %} selected {% endif %}
                                                                                  value="{{ subject.id }}">{{ subject.subject }}
                                </option>
                            {% endfor %}
                        </select>
                        <select class="custom-select form-control" name="type">
                            <option value="0">Вид мероприятия</option>
                            {% for type in types %}
                                <option {% if type_id == type.id %} selected {% endif %}
                                                                                  value="{{ type.id }}">{{ type.type }}
                                </option>
                            {% endfor %}
                        </select>
                        <select class="custom-select form-control" name="auditory">
                            <option value="0">Аудитория</option>
                            {% for auditory in auditories %}
                                <option {% if auditory_id == auditory.id %} selected {% endif %}
                                                                                  value="{{ auditory.id }}">{{ auditory.auditory }}
                                </option>
                            {% endfor %}
                        </select>
                        <input name="date" class="form-control" placeholder="Дата в формате 2017-10-20 12:00" value="{{ form.data.date }}">
                        <textarea name="title" class="form-control" placeholder="Название">{{ form.data.title }}</textarea>
                        <textarea name="location" class="form-control" placeholder="Место проведения">{{ form.data.location }}</textarea>
                        <textarea name="description" class="form-control" placeholder="Описание">{{ form.data.description }}</textarea>
                        <input type="number" name="maximumCapacity" class="form-control" placeholder="Количество участников" value="{{ form.data.maximumCapacity }}">
                    </div>
                    <div class="col-lg-12 centered">
                        <button type="submit" class="btn btn-primary search-button">Сохранить</button>
                    </div>
                    <div class="col-lg-12 centered">
                        <button type="submit" class="btn btn-primary search-button exit_button">Выйти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="/static/js/management/management.js"></script>
{% endblock scripts %}