:root {
    --font-color-d1: #121319;
    --font-color: #22252d;
    --font-color-l1: #363a41;

    --background-color: #F2F2F7;
    --background-color-d1: #dedee3;
    --background-color-d2: #cacacf;
    --background-color-d3: #b6b6bb;
    --background-color-d4: #a2a2a7;
    --background-color-d5: #8e8e93;
    --background-color-d6: #7a7a7f;

/*    --design-color-d2: #1e1f41;
    --design-color-d1: #222755;
    --design-color: #273469;
    --design-color-l1: #2e3c7d;
    --design-color-l2: #323e91;
    --design-color-l3: #3b4ca5;*/

    --design-color-d2: #313269;
    --design-color-d1: #2f347d;
    --design-color: #35449b;
    --design-color-l1: #3848af;
    --design-color-l2: #3a48c3;
    --design-color-l3: #4659d7;

    --accent-color: #FFF651;

    --dark-font-color: #BCBCBC;
    --dark-background-color: #242424;
    --dark-design-color: #4B65CC;
    --fade-color: rgba(29, 41, 73, 0.73)
}