:root {
    --font-color-d1: #121319;
    --font-color: #22252d;
    --font-color-l1: #363a41;
    --font-color-l2: #4A4E55;
    --font-color-l3: #5C6269;
    --font-color-l4: #70767D;

    --background-color: #F2F2F7;
    --background-color-d1: #dedee3;
    --background-color-d2: #cacacf;
    --background-color-d3: #b6b6bb;
    --background-color-d4: #a2a2a7;
    --background-color-d5: #8e8e93;
    --background-color-d6: #7a7a7f;

    --design-color-d2: #025d95;
    --design-color-d1: #0267a9;
    --design-color: #027CBD;
    --design-color-l1: #028ed1;
    --design-color-l2: #02a0e5;
    --design-color-l3: #029de5;

    --accent-color: #FFF651;
    --alarm-color: #ff3e00;
    --success-color: #00810d;

    --dark-font-color: #e1e1e1;
    --dark-background-color: #242424;
    --dark-design-color: #4B65CC;
    --fade-color: rgba(29, 41, 73, 0.73);
}
