#map {
    width: 100%;
    height: 500px;
    background-color: grey;
    margin-bottom: 20px;
    box-shadow: 15px 15px 15px -5px #1d1e1f;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid var(--font-color);
    z-index: 10000;
}

.contact-info {
    position: relative;
    height: 500px;
    width: 100%;
    background-color: var(--background-color);
    box-shadow: 15px 15px 15px -5px #1d1e1f;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: "Poiret One", sans-serif;
    border: 1px solid var(--font-color);
    padding: 10px;
}

.header h2 {
    color: var(--dark-font-color);
}

body {
    background-color: var(--design-color-l2);
}

.contact-info:hover .contact-overlay {
    opacity: 0;
    transform: scale(0);
}