#map {
    background-color: grey;
    border: 1px solid var(--font-color);
    border-radius: 10px;
    box-shadow: 9px 9px 9px -6px #1d1e1f;
    height: 500px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
    z-index: 10000;
}

.high-container {
    min-height: 80%;
}

.contact-info {
    background-color: var(--background-color);
    border: 1px solid var(--font-color);
    border-radius: 10px;
    box-shadow: 9px 9px 9px -6px #1d1e1f;
    font-family: "Poiret One", sans-serif;
    font-size: 1.5em;
    height: 500px;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    width: 100%;
}

.header h2 {
    color: var(-font-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    background-color: var(--background-color);
}

.contact-info:hover .contact-overlay {
    opacity: 0;
    transform: scale(0);
}
