/*** FOOTER STYLING ***/
.footer {
    background-color: var(--dark-background-color);
    border-top: 3px solid var(--dark-font-color);
    color: var(--dark-font-color);
    font-size: 16pt;
}

.footer__container {
    width: 85%;
}

/*## FOOTER STYLING ##*/
/*****************************************************************************************************/
/*** NAVBAR STYLING ***/
.navbar-nav, .navbar-nav > .d-flex {
    width: 100%;
}

.nav-item {
    padding: 0 10px 0 10px;
    font-family: 'Poiret One', sans-serif;
    font-size: 2em;
}

.nav-link {
    line-height: 1.3em;
    padding: 0;
    cursor: pointer;
}

.navbar {
    background-color: var(--darker-background-color);
    z-index: 100000;
}

/*## NAVBAR STYLING ##*/
/*****************************************************************************************************/
/*** GENERAL STYLINGS ***/
h1, h2, h3 {
    display: table;
    margin: 10px auto;
    font-family: 'Poiret One', sans-serif;
}

h4, h5, h6 {
    font-family: 'Poiret One', sans-serif;
}

/*## GENERAL STYLINGS ##*/
/*** GENERAL BOOTSTRAP ADJUSTMENTS ***/
.btn, .btn-primary {
    border: none;
    border-radius: 8px;
}

.btn:focus, .btn-primary:focus {
    box-shadow: none;
}

/*## GENERAL BOOTSTRAP ADJUSTMENTS ##*/
/*****************************************************************************************************/
/*** RESPONSIVENESS FOR TYPOGRAPHY ***/
@media screen and (min-device-width: 1080px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1em;
    }

    h6 {
        font-size: 0.75em;
    }
}

@media screen and (max-device-width: 1080px) {
    h1 {
        font-size: 8px;
    }

    h2 {
        font-size: 8px;
    }

    h3 {
        font-size: 12px;
    }

    h4 {
        font-size: 8px;
    }

    h5 {
        font-size: 8px;
    }

    h6 {
        font-size: 8px;
    }
}

/*## RESPONSIVENESS FOR TYPOGRAPHY ##*/
/*****************************************************************************************************/
/*** OTHER ***/
body {
    background-color: var(--common-background-color);
    color: var(--common-font-color);
    font-family: 'Open Sans', sans-serif;
    padding-right: 0 !important;
}

/*## OTHER ##*/