@font-face {
    font-family: 'Poiret One';
    src: url(/static/fonts/Poiret+One.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(/static/fonts/Open+Sans.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(/static/fonts/Roboto-Thin.ttf);
}

/*** FOOTER STYLING ***/
.footer {
    background-color: var(--dark-background-color);
    border-top: 3px solid var(--dark-font-color);
    color: var(--dark-font-color);
    font-size: 16pt;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.footer__container {
    width: 85%;
    padding-bottom: 15px;
}

/*## FOOTER STYLING ##*/
/*****************************************************************************************************/
/*** NAVBAR STYLING ***/
.navbar-nav, .navbar-nav > .d-flex {
    width: 100%;
}

.nav-item {
    padding: 0 10px 0 10px;
    font-family: 'Poiret One', sans-serif;
    font-size: 2em;
}

.nav-link {
    line-height: 1.3em;
    padding: 0;
    cursor: pointer;
}

.navbar {
    background-color: var(--darker-background-color);
    z-index: 100000;
}

.navbar-toggler {
    margin-top: 14px;
}

.navbar-brand {
    padding: 0;
}
/*## NAVBAR STYLING ##*/
/*****************************************************************************************************/
/*** GENERAL STYLINGS ***/
h1, h2, h3 {
    display: table;
    margin: 10px auto;
    font-family: 'Poiret One', sans-serif;
}

h4, h5, h6 {
    font-family: 'Poiret One', sans-serif;
}

/*## GENERAL STYLINGS ##*/
/*** GENERAL BOOTSTRAP ADJUSTMENTS ***/
.btn, .btn-primary {
    border: none;
    border-radius: 8px;
}

.btn:focus, .btn-primary:focus {
    box-shadow: none;
}

/*## GENERAL BOOTSTRAP ADJUSTMENTS ##*/
/*****************************************************************************************************/
/*** RESPONSIVENESS FOR TYPOGRAPHY ***/
@media screen and (min-resolution: 250dpi) and (max-resolution: 900dpi) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1em;
    }

    h6 {
        font-size: 0.75em;
    }
}

@media screen and (min-resolution: 150dpi) and (max-resolution: 250dpi) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1em;
    }

    h6 {
        font-size: 0.75em;
    }
}

@media screen and (max-resolution: 150dpi) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1em;
    }

    h6 {
        font-size: 0.75em;
    }
}

/*## RESPONSIVENESS FOR TYPOGRAPHY ##*/
/*****************************************************************************************************/
/*** ICONS ***/
.phone-icon {
    background: url("/static/icons/phone.svg");
    width: 20px;
    height: 20px;
    margin-right: 8px;
    display: inline-block;
}

.logo-icon {
    background: url("/static/icons/logo.svg") no-repeat;
    width: 70px;
    height: 70px;
    margin-top: -2px;
    margin-right: 8px;
    display: inline-block;
}

.location-icon {
    background: url("/static/icons/phone.svg");
}

.fa-mobile, .fa-envelope, .fa-map-marker {
    margin-right: 8px;
    font-size: 1.5em;
}

.fa {
    margin-bottom: 2px;
}

.fa-vk {
    margin-top: 20px;
    font-size: 2.5em;
    color: var(--dark-font-color);
}

.fa-vk:hover {
    color: #4c75a3;
}

.fa-instagram {
    margin-top: 20px;
    font-size: 2.5em;
    color: var(--dark-font-color);
}

.fa-instagram:hover {
    color: #e0942a;
}

.fa-twitter {
    margin-top: 20px;
    font-size: 2.5em;
    color: var(--dark-font-color);
}

.fa-twitter:hover {
    color: #5ea9dd;
}

.fa-twitter, .fa-vk, .fa-instagram {
    transition: all 0.5s;
}

/*## ICONS ##*/
/*****************************************************************************************************/
/*** OTHER ***/
body {
    background-color: var(--common-background-color);
    color: var(--common-font-color);
    font-family: 'Open Sans', sans-serif;
    padding-right: 0 !important;
}

.info-container {
    position: relative;
    margin-top: 10px;
}

/*## OTHER ##*/