body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.centered {
    text-align: center;
}

/* Links */
.header-section h1 {
    color: white;
    display: block;
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
    letter-spacing: 3px;
    margin-top: 10px;
    padding-top: 15px;
    text-align: left;
}

.header-section p {
    color: var(--background-color);
    font-family: "Roboto", sans-serif;
    font-size: 18.3px;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 80px;
    padding-top: 20px;
    text-transform: uppercase;
}

/* Dark Grey Wrap */
#project-section {
    background: var(--background-color);
    border-bottom: 1px solid var(--background-color-d3);
    padding-bottom: 230px;
    padding-top: 70px;
}

/* Light Grey */
#partners-section {
    background: var(--background-color);
    text-align: center;
}

/* Red Wrap */
.tagline {
    background-color: var(--background-color);
    padding-bottom: 35px;
    padding-top: 35px;
}

#r h4 {
    color: white;
    font-family: "Poiret One", sans-serif;
    font-weight: 500;
}

#r p {
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}

/****** SECTIONS *****/

.w {
    padding-top: 5px;
}

.w h4 {
    font-weight: 100;
}

.w i {
    color: #ff7878;
    font-size: 30px;
}

.text-section {
    background-color: var(--background-color-d1);
    border-bottom: 1px solid var(--background-color-d3);
    margin-bottom: 0;
    padding-top: 35px;
    padding-bottom: 20px;
}

.text-section h4 {
    font-family: "Poiret One", sans-serif;
    font-size: 27px;
    font-weight: 700;
}

a {
    color: #4f4f4f;
    text-decoration: none;
}

.button {
    border: 2px solid #808080;
    border-radius: 3px;
    cursor: pointer;
    font-family: "Poiret One", sans-serif;
    font-weight: 700;
    height: 50px;
    padding: 12px;
    text-transform: uppercase;
    -webkit-transition: all .3s ease;
    width: 200px;
}

.button:hover {
    background: #4a9c5a;
    border: 2px solid #40734a;
    color: #000;
}

.button:hover:before {
    content: '';
    top: 8px;
}

/*** SLICK ADJUSTMENTS ***/
.project-slider {
    width: 100%;
}

.slider-img-container {
    height: auto;
    width: 100%;
}

.slick-slide {
    height: auto;
}

.slick-dots li button:before {
    font-size: 20px;
}

.slider-img-container a .slick-text {
    color: var(--font-color-l1);
    margin-top: -20px;
    padding: 10px 0;
    text-decoration: none;
}

.slider-img-container:hover .slick-text {
    color: var(--font-color-d1);
    padding-bottom: 5px;
    text-decoration: underline;
}

a:focus {
    outline: none;
}

.slider-img-container:hover {

}

/*## SLICK ADJUSTMENTS ##*/

/*** GRID WITH CARDS ***/
.news-card-wrapper {
    font-family: "Roboto", sans-serif;
    height: 500px;
    padding: 15px;
    width: 100%;
}

.news-card {
    border: 2px solid var(--design-color);
    border-radius: 5px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 100%;
    box-shadow: 12px 12px 12px -5px #4b5257;
}

.news-image {
    height: 220px;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
}

.news-text {
    left: 0;
    max-height: 180px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    top: 230px;
    width: 100%;
}

.news-text:after {
    position: absolute;
    content: '';
    top: 160px;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, var(--background-color-d1) 60%);
    left: 0;
    height: 30px;
}

.news-text h3 {
    text-align: center;
    width: 100%;
}

.olymp-circle-wrapper {
    position: relative;
    width: 100%;
    height: 180px;
    margin: 0 auto;
}

.circle-row {
    width: 1200px;
    margin: 0 auto;
}

.olymp-circle {
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 100%;
    margin: 10px;
    transition: all 0.4s;
    cursor: pointer;
}

@keyframes blink {
    from {
        opacity: 0.6;
    }

    to {
        opacity: 1;
    }
}

.olymp-circle:hover {
    border-radius: 5px;
    background: var(--background-color);
    z-index: 2;
    animation-duration: 0.5s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*Rings*/
.news-more-button {
    max-height: 50px;
    position: absolute;
    right: 10px;
    top: 420px;
}

.news-more-button .btn {
    background-color: var(--design-color);
    color: var(--background-color);
    font-size: 1.1em;
    font-family: "Open Sans", sans-serif;
    filter: opacity(0.9);
    cursor: pointer;
}

.news-more-button .btn:hover {
    box-shadow: 3px 3px 8px var(--design-color);
    filter: opacity(1);
    color: var(--background-color);
    font-size: 1.1em;
    font-family: "Open Sans", sans-serif;
}

.ring-1 {
    border: 5px solid #027CBD;
    z-index: 1;
    color: var(--background-color);
}

.ring-2 {
    border: 5px solid #231C16;
    z-index: 1;
    color: var(--background-color);
}

.ring-3 {
    border: 5px solid #e02121;
    z-index: 1;
    color: var(--background-color);
}

.ring-4 {
    border: 5px solid #FCC304;
    z-index: 0;
}

.ring-5 {
    border: 5px solid #029348;
    z-index: 0;
}

/*Ring:hover*/
.ring-icon {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 80px;
    top: 65px;
    transition: all 0.4s;
}

.olymp-circle:hover .ring-icon {
    width: 180px;
    height: 180px;
    top: 120px;
    left: 65px;
}

.olymp-circle .ring-text {
    visibility: hidden;
    transform: scale(0);
    transition: all 0.4s;
}

.olymp-circle:hover .ring-text {
    transform: scale(1);
    visibility: visible;
}

.ring-1:hover {
    background: #027CBD;
}

.ring-2:hover {
    background: #231C16;
}

.ring-3:hover {
    background: #e02121;
}

.ring-4:hover {
    background: #FCC304;
}

.ring-5:hover {
    background: #029348;
}

@media screen and (max-width: 991px) {
    .circle-row {
        width: auto;
    }

    .olymp-circle-wrapper {
        height: 270px;
    }

    .olymp-circle {
        margin-left: 50%;
        left: -125px;
        width: 250px;
        height: 250px;
        font-size: 20px;
    }

    .ring-icon {
        position: absolute;
        width: 100px;
        height: 100px;
        left: 75px;
        top: 65px;
        transition: all 0.4s;
    }

    .olymp-circle:hover .ring-icon {
        width: 140px;
        height: 140px;
        top: 100px;
        left: 55px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1290px) {
    .circle-row {
        width: 900px;
    }

    .olymp-circle-wrapper {
        height: 170px;
    }

    .olymp-circle {
        margin-left: 50%;
        left: -125px;
        width: 260px;
        height: 260px;
    }

    .ring-icon {
        position: absolute;
        width: 120px;
        height: 120px;
        left: 70px;
        top: 60px;
        transition: all 0.4s;
    }

    .olymp-circle:hover .ring-icon {
        width: 160px;
        height: 160px;
        top: 80px;
        left: 50px;
    }
}

/*** Hover mechanism ***/
.icon-card .hover-on,
.icon-card:hover .hover-off {
    visibility: hidden;
}

.icon-card .hover-off,
.icon-card:hover .hover-on {
    visibility: visible;
}

/*** MODAL ADJUSTMENT ***/

.modal-open {
    overflow: auto;
}

.modal-dialog {
    margin-top: 100px;
}

.modal-backdrop {
    background-color: var(--design-color);
}

.modal-content {
    background-color: var(--background-color);
    border: solid 1px var(--design-color);
    border-radius: 10px;
    color: var(--font-color);
    font-family: "Open Sans", sans-serif;
}

.modal-content a {
    color: var(--design-color);
    transition: 0.2s;
}

.modal-content a:hover {
    color: var(--font-color);
}

.modal-footer button {
    box-shadow: 0 5px 0 var(--background-color-d5);
    cursor: pointer;
    transition: all 0.4s;
}

.modal-footer button:hover {
    box-shadow: 0 1px 0 var(--font-color);
}

.fade {
    background-color: var(--fade-color);
}

.modal.fade .modal-dialog {
    transform: none;
    transition: none;
}

/*## MODAL ADJUSTMENT ##*/

/*## Hover mechanism ##*/

/*## GRID WITH CARDS ##*/

/*** ICONS ON INDEX ***/
.olympics-icon {
    background-image: url("/static/img/olympic-icon.svg");
    background-size: cover;
    height: 75px;
    position: absolute;
    right: 10px;
    top: 120px;
    width: 150px;
}

.icon-card-icon {
    background-size: cover;
    height: 75px;
    position: absolute;
    right: 10px;
    top: 120px;
    width: 150px;
}

.icon-card:hover .olympics-icon {
    background-image: url("/static/img/olympic-icon-inversed.svg");
}

/*## ICONS ON INDEX ##*/
