/*** CARD ADJUSTMENT ***/
.card-deck {
    max-width: 100%;
}

.card.hidden {
    border: 0 none;
    height: 0;
}

.card {
    background-color: var(--background-color);
    border: solid 2px var(--design-color);
    box-shadow: 12px 12px 12px -5px #4b5257;
    display: inline-block;
    margin: 10px 10px 20px 15px;
    min-width: 30%;
}

.card-image-container {
    border-bottom: solid 1px var(--design-color);
    position: relative;
}

.card-fade-in-image {
    background-color: var(--design-color);
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    transition: all 0.4s ease-in-out;
    width: 100%;
}

.card-image-container:hover .card-fade-in-image {
    transform: scale(0);
}

.card-block .btn {
    background-color: var(--design-color);
    color: var(--background-color);
    cursor: pointer;
    filter: opacity(0.9);
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
}

.card-block .btn:hover {
    box-shadow: 3px 3px 8px var(--design-color);
    color: var(--background-color);
    filter: opacity(1);
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
}

.card-img-top {
    height: auto;
    width: 100%;
}

/*## CARD ADJUSTMENT ##*/
/*** MODAL ADJUSTMENT ***/

.modal-open {
    overflow: auto;
}

.modal-dialog {
    margin-top: 100px;
}

.modal-backdrop {
    background-color: var(--design-color);
}

.modal-content {
    background-color: var(--background-color);
    border: solid 1px var(--design-color);
    border-radius: 10px;
    color: var(--font-color);
    font-family: "Open Sans", sans-serif;
}

.fade {
    background-color: var(--fade-color);
}

.modal.fade .modal-dialog {
    transform: none;
    transition: none;
}

.modal-footer button {
    box-shadow: 0 5px 0 var(--background-color-d5);
    cursor: pointer;
    transition: all 0.4s;
}

.modal-footer button:hover {
    box-shadow: 0 1px 0 var(--font-color);
}

/*## MODAL ADJUSTMENT ##*/

.header h1 {
    color: var(--background-color);
    font-family: "Poiret One", sans-serif;
    font-weight: 100;
}

.foreground {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
}

a {
    color: #4f4f4f;
    text-decoration: none;
}
