/*** CARD ADJUSTMENT ***/
.card-deck {
    max-width: 100%;
}
.card,
.news-card,
.icon-card {
    display: inline-block;
    margin: 10px 10px 20px 15px;
    border: solid 2px var(--design-color);
    background-color: var(--background-color);
    box-shadow: 12px 12px 12px -5px #4b5257;
    min-width: 30%;
}

.card-image-container {
    border-bottom: solid 1px var(--design-color);
    position: relative;
}

.card-fade-in-image {
    position: absolute;
    opacity: 0.5;
    background-color: var(--design-color);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
}

.card-image-container:hover .card-fade-in-image {
    transform: scale(0);
}

.card-block .btn,
.news-more-button .btn {
    background-color: var(--design-color);
    color: var(--background-color);
    font-size: 1.1em;
    font-family: "Open Sans", sans-serif;
    filter: opacity(0.9);
    cursor: pointer;
}

.news-more-button .btn:hover {
    box-shadow: 3px 3px 8px var(--design-color);
    filter: opacity(1);
    color: var(--background-color);
    font-size: 1.1em;
    font-family: "Open Sans", sans-serif;
}

.card-img-top {
    width: 100%;
    height: auto;
}

/*## CARD ADJUSTMENT ##*/
/*** MODAL ADJUSTMENT ***/

.modal-open {
    overflow: auto;
}

.modal-dialog {
    margin-top: 80px;
}

.modal-backdrop {
    background-color: var(--design-color);
}

.modal-content {
    border: solid 1px var(--design-color);
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: "Open Sans", sans-serif;
}

.fade {
    background-color: var(--fade-color);
}

.modal.fade .modal-dialog {
    transition: none;
    transform: none;
}

/*## MODAL ADJUSTMENT ##*/
