<div class="card">
    <div class="card-image-container">
        <img class="card-img-top" src="/media/{{ news_item.image }}" alt="Card image cap">
    </div>
    <div class="card-block">
        <h2 class="card-title">{{ news_item.title }}</h2>
        <p class="card-text">{{ news_item.short_text }}</p>
        <button class="btn btn-primary" data-toggle="modal" data-target="#u{{ news_item.id }}">Подробнее</button>
    </div>
    <!-- Popup -->
    <div id="u{{ news_item.id }}" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">{{ news_item.title }}</h2>
                </div>
                <div class="modal-body">
                    <p>{{ news_item.text }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>