{% extends "main/projects/gen_project.html" %}

{% block title %} Университетские Субботы {% endblock %}

{% block project-description %}
    <h4>Каждую субботу двери лучших ВУЗов нашей республики теперь открыты для Вас, школьники, родители и педагоги!
        Станьте слушателем курса лекций об актуальных проблемах, познакомьтесь с ВУЗами и некоторыми сторонами
        студенческой жизни в рамках программы Университетских суббот.
    </h4>
{% endblock project-description %}

{% block styles %}
    <link href="/static/css/projects/saturdays_style.css" rel="stylesheet">
    <link href="/static/third_party/calendar/daterangepicker.css" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
    <script src="/static/js/projects/saturday_script.js"></script>
    <script src="/static/third_party/calendar/moment.min.js"></script>
    <script src="/static/third_party/calendar/daterangepicker.js"></script>
{% endblock scripts %}

{% block project-title %}Университетские Субботы{% endblock %}

{% block project-content %}

    <div class="container">
        <form enctype="application/x-www-form-urlencoded" action="/projects/university_saturdays/search" method="GET">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <select class="custom-select form-control" name="university">
                        <option {% if not form.university %} selected {% endif %} value="0">ВУЗ</option>
                        {% for university in universities %}
                            <option {% if form.university == university.id %} selected {% endif %}
                                                                              value="{{ university.id }}">{{ university.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6 centered">
                    <button type="submit" class="btn btn-primary search-button">Найти</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid">
        {% if error_message == '' or not error_message %}
            <h3 class="success-message">{{ success_message }}</h3>
        {% else %}
            <h3 class="error-message">{{ error_message }}</h3>
        {% endif %}

        {% for event in events %}
            {% include "main/elements/eventT.html" %}
        {% endfor %}
    </div>

    <div class="registration-form-wrapper hidden">
        <div class="registration-form">
            <form enctype="multipart/form-data" action="/projects/university_saturdays/register" method="POST"
                  class="centered">
                {% csrf_token %}
                <input name="nameField" class="form-control" placeholder="ФИО" value="{{ form.nameField.value }}">
                <input name="emailField" class="form-control" placeholder="Email"
                       value="{{ form.emailField.value }}">
                <input name="schoolField" class="form-control" placeholder="Школа" value="{{ form.schoolField.value }}">
                <input name="gradeField" class="form-control" placeholder="Класс" value="{{ form.gradeField.value }}">
                <input name="phoneField" class="form-control" placeholder="Телефон" value="{{ form.phoneField.value }}">
                <input id="eventId" name="eventId" hidden>
                <button class="btn btn-primary submit" type="submit">Зарегистрироваться</button>
                <button class="btn btn-primary submit close-button">Закрыть</button>
            </form>
        </div>
    </div>
{% endblock project-content %}
