{% extends "main/gen_templ.html" %}

{% block title %}
    О нас
{% endblock title %}

{% block styles %}
    <link href="/static/css/about_us.css" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
    <script src="/static/js/about_us.js"></script>
{% endblock scripts %}

{% block nav-about %}
    <li class="nav-item active"><a class="nav-link" href="/about">О нас<span class="sr-only"></span></a></li>
{% endblock nav-about %}

{% block content %}
    <div class="header-section">
        <div class="container foreground">
            <div class="row centered">
                <div class="col-lg-8 offset-lg-2 col-wo-padding">
                    <h2>О Нас</h2>
                </div>
            </div>
        </div>
        <div class="header-overlay"></div>
    </div>
    <hr>
    <container>
        <center>
            <div class="video-wrapper">
                <div class="video">
                    <!-- Copy & Pasted from YouTube -->
                    <iframe width="560" height="349" src="https://www.youtube.com/embed/hAmz6huRjWo?rel=0"
                            frameborder="0"
                            allowfullscreen></iframe>
                </div>
            </div>
            <hr>
        </center>
        <center><img class="img-fluid" src="/static/img/presentation.png"></center>
    </container>
{% endblock content %}
