{% extends "main/gen_templ.html" %}

{% block title %}
    Контакты
{% endblock title %}

{% block styles %}
    <link href="/static/css/contacts.css" rel="stylesheet">
{% endblock styles %}
{% block nav-contacts %}
    <li class="nav-item active"><a class="nav-link" href="/">Контакты<span class="sr-only"></span></a></li>
{% endblock nav-contacts %}
{% block scripts %}
    <script src="/static/js/contacts.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoWuQkEnKFD38uoNRjwQQnJ7nAasWG8oY&callback=initMap&language=ru&region=RU">
    </script>
{% endblock scripts %}

{% block content %}
    <div class="container-fluid high-container">
        <div class="header">
            <h2>Наши контакты</h2>
        </div>
        <div class="row contact-background">
            <div class="col-lg-5">
                <div class="contact-info">
                    <div class="info-container header">
                        <span class="ti ti-mobile"></span>N/A
                    </div>
                    <div class="info-container header">
                        <span class="ti ti-location-pin"></span>г. Махачкала, ул. Джамалутдина Атаева, д.5
                    </div>
                    <div class="info-container header">
                        <span class="ti ti-email"></span>dagolimp@gmail.com
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div id="map">
                </div>
            </div>

        </div>
    </div>
{% endblock content %}