{% load compress %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poiret+One">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Old+Standard+TT">
    {% block title %}
        <title>Main</title>
    {% endblock title %}
    {% compress css %}
        <link href="/static/third_party/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/general.css" rel="stylesheet">
        {% block styles %}
        {% endblock styles %}
        <link href="/static/css/constants.css" rel="stylesheet">
        <link href="/static/css/news.css" rel="stylesheet">
        <link href="/static/css/contacts.css" rel="stylesheet">
    {% endcompress %}
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-toggleable-md navbar-light sticky-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarElements" aria-controls="navbarElements" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">OLYMP-2018</a>
    <div class="collapse navbar-collapse" id="navbarElements">
        <ul class="navbar-nav mr-auto">
            {% block nav-main %}
                <li class="nav-item"><a class="nav-link" href="/">Главная<span class="sr-only"></span></a></li>
            {% endblock nav-main %}
            {% block nav-news %}
                <li class="nav-item"><a class="nav-link" href="/news">Новости<span class="sr-only"></span></a></li>
            {% endblock nav-news %}
            {% block nav-projects %}
                <li class="nav-item"><a class="nav-link" href="/projects">Проекты<span class="sr-only"></span></a></li>
            {% endblock nav-projects %}
            {% block nav-olymp %}
                <li class="nav-item"><a class="nav-link" href="/olympics">Олимпиада<span class="sr-only"></span></a>
                </li>
            {% endblock nav-olymp %}
            {% block nav-about %}
            {% endblock nav-about %}
            {% block nav-contacts %}
                <li class="nav-item"><a class="nav-link" href="/contacts">Контакты<span
                        class="sr-only"></span></a></li>
            {% endblock nav-contacts %}
        </ul>
    </div>
</nav>
<!--/Navbar-->
<div id="contacts" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Контакты</h2>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            Адрес:
                        </div>
                        <div class="col-lg-8">
                            Героиновая улица 228
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            Телефон:
                        </div>
                        <div class="col-lg-8">
                            8-988-888-88-81
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Content-->
{% block content %}
{% endblock content %}
<!--Content-->
<footer class="footer">
    <div class="container footer__container">
        <div class="row">
            <div class="col-lg-4">
                <div>
                    Телефон
                </div>
                <div>
                    Адрес
                </div>
                <div>
                    Email
                </div>
                <div>
                    Ссылки на сети
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/General container-->
{% compress js %}
    <script src="/static/third_party/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/static/third_party/tether.js" type="text/javascript"></script>
    <script src="/static/third_party/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/general.js" type="text/javascript"></script>
    {% block scripts %}
    {% endblock scripts %}
{% endcompress %}
</body>
</html>