{% extends "main/gen_templ.html" %}

{% block nav-main %}
    <li class="nav-item active"><a class="nav-link" href="/">Главная<span class="sr-only"></span></a></li>
{% endblock nav-main %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="/static/js/index.js"></script>
{% endblock scripts %}

{% block styles %}
    <link href="https://cdn.jsdelivr.net/g/jquery.slick@1.6.0(slick-theme.css+slick.css)" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
{% endblock styles %}

{% block content %}
    <div class="header-section">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Машинное Обучение</h1>
                    <p> обширный подраздел искусственного интеллекта, изучающий методы построения алгоритмов, способных
                        обучаться. Различают два типа обучения. Обучение по прецедентам, или индуктивное обучение,
                        основано на выявлении закономерностей в эмпирических данных.</p>
                </div>
            </div>
        </div>
    </div>


    <div id="project-section">
        <div class="container-fluid">
            <div class="prj-bg">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card">
                            <h4>Конкурсы</h4>
                            <div class="card-block align-text-bottom">
                                <div class="row">
                                    <div class="cup-icon centered">
                                    </div>
                                </div>
                            </div>
                            <div class="prj-overlay">
                                <h3> Описание проекта</h3>
                                <button class="btn button hidden-md-up">Подробнее</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <h4>Конкурсы</h4>
                            <div class="card-block align-text-bottom">
                                <div class="row">
                                    <div class="cup-icon centered">
                                    </div>
                                </div>
                            </div>
                            <div class="prj-overlay">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <h4>Конкурсы</h4>
                            <div class="card-block align-text-bottom">
                                <div class="row">
                                    <div class="cup-icon centered">
                                    </div>
                                </div>
                            </div>
                            <div class="prj-overlay">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card">
                            <h4>Конкурсы</h4>
                            <div class="card-block align-text-bottom">
                                <div class="row">
                                    <div class="cup-icon centered">
                                    </div>
                                </div>
                            </div>
                            <div class="prj-overlay">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-section">
        <div class="row centered">
            <br><br>
            <div class="col-lg-8 offset-lg-2">
                <h4>Государственные Проблемы Стран</h4>
                <br>
                <p>Как правило, именно политическая верхушка страны выступает в сознании населения как исходная причина
                    неудовлетворительного экономического положения людей, равно как и связанной серии социальных
                    проблем. Такой основной вывод можно извлечь из результатов
                    качественного дистанционного исследования Белорусской аналитической мастерскойОбщественное мнение
                    Беларуси о проекте «Модернизация для Беларуси».</p>
                <p><br/><br/></p>
            </div>
        </div>
        <div class="row centered">
            <div class="col-lg-10 offset-lg-1">
                <img class="img-fluid" src="/static/img/munter.png" alt="">
            </div>
        </div>
    </div>


    <div id="partners-section">
        <div class="container">
            <div class="row centered">
                <div class="project-slider">
                    <div class="slider-img-container"><img src="/static/img/c01.gif" alt="" class="img-fluid"></div>
                    <div class="slider-img-container"><img src="/static/img/c02.gif" alt="" class="img-fluid"></div>
                    <div class="slider-img-container"><img src="/static/img/c03.gif" alt="" class="img-fluid"></div>
                    <div class="slider-img-container"><img src="/static/img/c04.gif" alt="" class="img-fluid"></div>
                    <div class="slider-img-container"><img src="/static/img/c05.gif" alt="" class="img-fluid"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="tagline">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 offset-lg-2">
                    <h4>Слоган.</h4>
                    <p>Я падаю из пустоты в пустоту дабы не потерять высоту (c) Кама Пуля.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}