{% extends "main/gen_templ.html" %}

{% block nav-main %}
    <li class="nav-item active"><a class="nav-link" href="/">Главная<span class="sr-only"></span></a></li>
{% endblock nav-main %}

{% block nav-about %}
    <li class="nav-item"><a class="nav-link" href="/">О нас<span class="sr-only"></span></a></li>
{% endblock nav-about %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="/static/js/index.js"></script>
{% endblock scripts %}

{% block styles %}
    <link href="https://cdn.jsdelivr.net/g/jquery.slick@1.6.0(slick-theme.css+slick.css)" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
{% endblock styles %}

{% block content %}
    <div class="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Машинное Обучение</h1>
                    <p> обширный подраздел искусственного интеллекта, изучающий методы построения алгоритмов, способных
                        обучаться. Различают два типа обучения. Обучение по прецедентам, или индуктивное обучение,
                        основано на выявлении закономерностей в эмпирических данных.</p>
                </div>
            </div>
        </div>
    </div>


    <div id="dg">
        <div class="container">
            <div class="row centered">
                <br>
                <div class="col-lg-4">
                    <div class="tilt">
                        <a href="#"><img src="/static/img/p01.png" alt=""></a>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="tilt">
                        <a href="#"><img src="/static/img/p03.png" alt=""></a>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="tilt">
                        <a href="#"><img src="/static/img/p02.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="btn">
                <a>
                    <div class="button">Подробнее</div>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid wb">
        <div class="row centered">
            <br><br>
            <div class="col-lg-8 offset-lg-2">
                <h4>Государственные Проблемы Стран</h4>
                <br>
                <p>Как правило, именно политическая верхушка страны выступает в сознании населения как исходная причина
                    неудовлетворительного экономического положения людей, равно как и связанной серии социальных
                    проблем. Такой основной вывод можно извлечь из результатов
                    качественного дистанционного исследования Белорусской аналитической мастерскойОбщественное мнение
                    Беларуси о проекте «Модернизация для Беларуси».</p>
                <p><br/><br/></p>
            </div>
        </div>
        <div class="row centered">
            <div class="col-lg-10 offset-lg-1">
                <img class="img-fluid" src="/static/img/munter.png" alt="">
            </div>
        </div>
    </div>


    <div id="lg">
        <div class="container">
            <div class="row centered">
                <div class="project-slider">
                    <div class="slider-img-container"><img src="/static/img/c01.gif" alt="" class="img-fluid"></div>
                    <div class="slider-img-container"><img src="/static/img/c02.gif" alt="" class="img-fluid"></div>
                    <div class="slider-img-container"><img src="/static/img/c03.gif" alt="" class="img-fluid"></div>
                    <div class="slider-img-container"><img src="/static/img/c04.gif" alt="" class="img-fluid"></div>
                    <div class="slider-img-container"><img src="/static/img/c05.gif" alt="" class="img-fluid"></div>
                </div>
            </div>
        </div>
    </div>


    <div id="r">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 offset-lg-2">
                    <h4>Слоган.</h4>
                    <p>Я падаю из пустоты в пустоту дабы не потерять высоту (c) Кама Пуля.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}