{% extends "main/gen_templ.html" %}

{% block nav-main %}
    <li class="nav-item active"><a class="nav-link" href="/">Главная<span class="sr-only"></span></a></li>
{% endblock nav-main %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="/static/js/index.js"></script>
{% endblock scripts %}

{% block styles %}
    <link href="https://cdn.jsdelivr.net/g/jquery.slick@1.6.0(slick-theme.css+slick.css)" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
{% endblock styles %}

{% block content %}
    <div class="header-section">
        <div class="container foreground">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Машинное Обучение</h1>
                    <p> обширный подраздел искусственного интеллекта, изучающий методы построения алгоритмов, способных
                        обучаться. Различают два типа обучения. Обучение по прецедентам, или индуктивное обучение,
                        основано на выявлении закономерностей в эмпирических данных.</p>
                </div>
            </div>
        </div>
        <div class="header-overlay"></div>
    </div>


    <div id="project-section">
        <div class="container">
            <div class="row">
                <!-- NEWS CARD -->
                <div class="col-md-4 col-wo-padding">
                    <div class="news-card-wrapper">
                        <div class="news-card">
                            <div class="news-image"
                                 style="background: url('/media/{{ news.image }}') center no-repeat; background-size: cover;border-bottom: 1px solid var(--design-color);">
                            </div>
                            <div class="news-text">
                                <h3>{{ news.title }}</h3>
                                {{ news.short_text }}
                            </div>
                            <div class="news-more-button">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#u{{ news.id }}">
                                    Подробнее
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="u{{ news.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title">{{ news.title }}</h2>
                                </div>
                                <div class="modal-body">
                                    <p>{{ news.text }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /NEWS CARD -->
                <div class="col-md-8 col-wo-padding">
                    <div class="row row-wo-margin">
                        <div class="col-lg-12 col-wo-padding">
                            <div class="icon-card-wrapper">
                                <a href="/olympics">
                                    <div class="icon-card">
                                        <h2>Олимпиада</h2>
                                        <div class="olympics-icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row row-wo-margin">
                        {% for tile in topTiles %}
                            <div class="col-md-6 col-wo-padding">
                                <a href="{{ tile.link }}">
                                    <div class="icon-card-wrapper">
                                        <div class="icon-card">
                                            <h2>{{ tile.title }}</h2>
                                            <div class="icon-card-icon"
                                                 style="background-image: url('/media/{{ tile.icon }}');">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                {% for tile in tiles %}
                    <div class="col-md-4 col-wo-padding">
                        <a href="{{ tile.link }}">
                            <div class="icon-card-wrapper">
                                <div class="icon-card">
                                    <h2>{{ tile.title }}</h2>
                                    <div class="icon-card-icon"
                                         style="background-image: url('/media/{{ tile.icon }}');">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid text-section img-section">
        <div class="row centered">
            <br><br>
            <div class="col-lg-8 offset-lg-2">
                <h4>Государственные Проблемы Стран</h4>
                <br>
                <p>Как правило, именно политическая верхушка страны выступает в сознании населения как исходная причина
                    неудовлетворительного экономического положения людей, равно как и связанной серии социальных
                    проблем. Такой основной вывод можно извлечь из результатов
                    качественного дистанционного исследования Белорусской аналитической мастерскойОбщественное мнение
                    Беларуси о проекте «Модернизация для Беларуси».</p>
                <p><br/><br/></p>
            </div>
        </div>
        <!-- <div class="row centered">
            <div class="col-lg-10 offset-lg-1">
                <img class="img-fluid" src="/static/img/munter.png" alt="">
            </div>
        </div> -->
    </div>


    <div id="partners-section">
        <div class="container">
            <div class="row centered">
                <div class="project-slider">
                    <div class="slider-img-container">
                        <a href="http://www.dgunh.ru/">
                            <img src="/static/img/c01.png" alt="" class="img-fluid">
                            <h3 class="slick-text">Дагестанский Государственный Университет Народного Хозяйства</h3>
                        </a>
                    </div>
                    <div class="slider-img-container">
                        <a href="http://cpm.dogm.mos.ru/">
                            <img src="/static/img/c02.png" alt="" class="img-fluid">
                            <h3 class="slick-text">Центр Педагогического Мастерства</h3>
                        </a>
                    </div>
                    <div class="slider-img-container">
                        <a href="http://moscowinners.ru/">
                            <img src="/static/img/c03.png" alt="" class="img-fluid">
                            <h3 class="slick-text">Московская Ассоциация Победителей Олимпиад</h3>
                        </a>
                    </div>
                    <div class="slider-img-container">
                        <a href="http://www.dagminobr.ru/">
                            <img src="/static/img/c04.png" alt="" class="img-fluid">
                            <h3 class="slick-text">Министерство Образования и Науки Дагестана</h3>
                        </a>
                    </div>
                    <div class="slider-img-container">
                        <a href="http://centr.dgtu.ru/">
                            <img src="/static/img/c05.png" alt="" class="img-fluid">
                            <h3 class="slick-text">Сириус Альтаир</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tagline">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 offset-lg-2">
                    <h2>Слоган.</h2>
                    <h4>Я падаю из пустоты в пустоту дабы не потерять высоту (c) Кама Пуля.</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
