{% extends "main/gen_templ.html" %}

{% block title %}
    Новости
{% endblock title %}

{% block nav-news %}
    <li class="nav-item active"><a class="nav-link" href="/news">Новости<span class="sr-only"></span></a></li>
{% endblock nav-news %}

{% block styles %}
    <link href="/static/css/news.css" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
    <script src="/static/js/news.js"></script>
{% endblock scripts %}

{% block content %}
    <div class="header-section">
        <div class="container foreground">
            <div class="header">
                <h1 class="roboto">Новости</h1>
            </div>
        </div>
        <div class="header-overlay"></div>
    </div>
    <div class="container-fluid">
        <div class="card-deck">
        {% autoescape off %}
            {% for news_item in news %}
                {% include "main/elements/newsT.html" %}
            {% endfor %}
        {% endautoescape %}
        </div>
    </div>
{% endblock content %}
