{% extends "main/gen_templ.html" %}

{% block nav-news %}
    <li class="nav-item active"><a class="nav-link" href="/news">Новости<span class="sr-only"></span></a></li>
{% endblock nav-news %}

{% block styles %}
    <link href="/static/css/news.css" rel="stylesheet">
{% endblock styles %}

{% block content %}
    <div class="container-fluid">
        <div class="header">
            <h2>Новости</h2>
        </div>
        <div class="card-deck">
            {% for news_item in news %}
                {% include "main/elements/newsT.html" %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}